@page
@model TestRazor.Pages.LoginModel
@{
}
<div>
    <form method="post">
        
        <label>Your email</label>
        <input type="email" asp-for="EmailLogin" />
        <label>Password</label>
        <input type="password" asp-for=PassLogin />
        <input type="submit" />
    </form>

</div>
