@page
@model TestRazor.Pages.SearchResultModel
@{
}


<div class ="table">
<div align="center">
    @if(Model!=null)
    {
         <table class="table table-striped">
              <thead>
    <tr>
    
      <th scope="col">Id</th>
      <th scope="col">Name</th>
       <th scope="col">Bet</th>
        <th scope="col">Redempt</th>
  
    </tr>
  </thead>
        
        @foreach(var i in Model.Items)
        {
          
               <tr>
                   
                   <td> @i.Id</td>
                   <td>@i.Name</td>
                 
                      @if(@i.Status=="Expired")
                      {
                         <td>
                         
                    Expired
                          
                       </td>   
                      }
                      else
                      {
                       <td>
                            <a asp-page="/Bet" asp-route-id="@i.Id" class="nav-link">Do bet</a>
                       </td>
                            

                            <td>
                                
                                <a asp-page="/Pay" asp-route-id="@i.Id" class="nav-link">Redempt</a>
                           
                  
                       
         
                             
                            </td>
                            }
                            
                    
                
               </tr>

           
                
        }
           </table>
    }
    </div>

</div>

